.panel.panel-default.panel-hovered.panel-stacked.mb20
	.panel-heading

		| {{'EVALUACIONES_MENU' | translate}}

	.panel-body


		md-button.md-primary(ng-show="!creando" ng-click="crearNuevo()") Crear nuevo


		div(layout layout-wrap layout-padding)

			div(flex-gt-md="60" flex-md="100")

				// Grilla con todas las evaluaciones
				grid-evaluaciones(evaluaciones="evaluaciones" idioma="idioma.select" currenteval="currentEvalua" categoriasking="categorias_king")



			// Formulario para crear
			div(flex-gt-md="40" flex-md="100" ng-show="creando")

				h2 Nueva evaluacion

				form(layout="column" ng-submit="" layout-margin layout-wrap layout-padding)
					div(flex)
						label Descripcion:
						input.form-control(type="text" ng-model="newEvaluacion.descripcion")

					div(flex)
						label Categoria:
						md-input-container(layout="row" layout-align="start center" style="padding-bottom: 0px; margin-top: -10px;")
							md-select(placeholder="categoria" ng-model="newEvaluacion.categoria_id")
								span(ng-repeat="catking in categorias_king")
									md-option(ng-repeat="cat_traduc in catking.categorias_traducidas | catsByIdioma:idioma.selected"
										ng-show="cat_traduc.idioma_id==idioma.selected" value="{{cat_traduc.categoria_id}}")
										| {{cat_traduc.nombre}}

					div(flex="40" flex-gt-lg="20" flex-sm="100")
						md-checkbox(ng-model="newEvaluacion.actual" aria-label="Actual")
							| Actual
						md-tooltip Sera la evaluacion

					div(flex)
						label Duracion por preguntas:
						input.form-control(placeholder="Duracion pregunta" type="number" ng-model="newEvaluacion.duracion_preg")
						md-tooltip Duracion por pregunta

					div(flex)
						label Duracion por examen:
						input.form-control(placeholder="Duracion examen" type="number" ng-model="newEvaluacion.duracion_exam")
						md-tooltip Duracion por pregunta

					div(flex="40" flex-gt-lg="20" flex-sm="100")
						md-checkbox(ng-model="newEvaluacion.dirigido" aria-label="Responder una por una")
							| Responder una por una
						md-tooltip Responder una por una o todas las preguntas



					.clearfix.right
						md-button.md-default.md-raised(type="button" ng-click="cancelarNuevo()") Cancelar
						md-button.md-primary.md-raised(type="submit" ng-disabled="guardando") Guardar
						


			// Formulario para editar
			div(flex-gt-md="40" flex-md="100" ng-show="editando")

				h2 Editar evaluacion

				form(layout="column" ng-submit="" layout-margin layout-wrap layout-padding)
					div(flex)
						label Descripcion:
						input.form-control(type="text" ng-model="currentEvalua.descripcion")

					div(flex)
						label Categoria:
						md-input-container(layout="row" layout-align="start center" style="padding-bottom: 0px; margin-top: -10px;")
							md-select(placeholder="categoria" ng-model="currentEvalua.categoria_id")
								span(ng-repeat="catking in categorias_king")
									md-option(ng-repeat="cat_traduc in catking.categorias_traducidas | catsByIdioma:idioma.selected"
										ng-show="cat_traduc.idioma_id==idioma.selected" value="{{cat_traduc.categoria_id}}")
										| {{cat_traduc.nombre}}

					div(flex="40" flex-gt-lg="20" flex-sm="100")
						md-checkbox(ng-model="currentEvalua.actual" aria-label="Actual")
							| Actual
						md-tooltip Sera la evaluacion

					div(flex)
						label Duracion por preguntas:
						input.form-control(placeholder="Duracion pregunta" type="number" ng-model="currentEvalua.duracion_preg")
						md-tooltip Duracion por pregunta

					div(flex)
						label Duracion por examen:
						input.form-control(placeholder="Duracion examen" type="number" ng-model="currentEvalua.duracion_exam")
						md-tooltip Duracion por pregunta

					div(flex="40" flex-gt-lg="20" flex-sm="100")
						md-checkbox(ng-model="currentEvalua.dirigido" aria-label="Responder una por una")
							| Responder una por una
						md-tooltip Responder una por una o todas las preguntas



					.clearfix.right
						md-button.md-default.md-raised(type="button" ng-click="cancelarNuevo()") Cancelar
						md-button.md-primary.md-raised(type="submit" ng-disabled="guardando") Guardar
						