$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower




@import "base.scss";











// Arreglando
.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
}
.panel-default > .panel-heading {
  background-color: #ffffff;
}

md-input-container label.confroala {
  top: -65px !important;
}
a:hover, a:focus {
  text-decoration: none;
}

.froala-box{
  border: solid;
  border-width: 0 0 1px 0;
  border-color: rgba(0,0,0,0.12);
}

.textblue{
  color: #00F !important;
}

.md-toast {

}
.md-top {
z-index: 999000;
position: fixed;
top: 66px; // size of my navbar + 16px
}

.md-right {
z-index: 999000;
position: fixed;
right: 16px;
}


.opciones md-whiteframe {
  background: #fff;
  margin: 5px;
  padding: 10px;
  white-space: normal;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.14), 0 4px 5px 0 rgba(0, 0, 0, 0.098), 0 1px 10px 0 rgba(0, 0, 0, 0.084);

  &:hover{
    background: #2196f3;
    color: #fff;
  }
}
.opciones md-whiteframe.elegida {
  background: #3f51b5;
  color: #fff;
  padding-left: 10px;

}


.definicion-preg{
  padding-left: 20px;
}

.opcionesedit{

  padding-left: 40px;

  md-input-container{
    padding-bottom: 1px !important;
    
    label{
      margin-bottom: 0px; 
    }
    .md-input{
      border-width: 0 0 1px 0 !important;
    }
  }
}
.add-opcion{
  border-color: #86e6c8 !important;
  background: #86e6c8 !important
}



.pointer{
  cursor: pointer;
}

.img-gender{
  width: 70px;
}
.rd-gender{
  display: inline-block !important;
}

@mixin ayuda-preg(){
  position: absolute;
  padding: 4px;
  background-color: #fff;
  border-radius: 10px 0;
  cursor: pointer;
  border: 1px solid #eee;
}

.ayuda-preg-showed{
  @include ayuda-preg();
  width: 300px;
  margin-left: -290px;
}

.ayuda-preg-hidded{
  @include ayuda-preg();
}

.btn-container-edit-preg{
  position: absolute;
  margin-left: -170px;
  margin-top: -10px;
}


.ancho-200{
  display: inline-block;
  width: 200px;
}

