.modal-header
	h3.modal-title Iniciae examen 
.modal-body
	.row
		.col-lg-12.col-xs-12
			h4
				| ¿Deseas iniciar el examen de {{inscripcion.nombre}}?

.modal-footer
	md-button.md-raised(ng-click="cancel()") No
	md-button.md-raised.md-primary(ng-click="ok()") Iniciar
		i.fa.fa-check