
<div ng-repeat="pregunta in preguntaking.preguntas_traducidas | porIdioma:idioma">
  <md-whiteframe layout style="padding: 10px" class="md-whiteframe-z2 definicion-frame"><span flex="5">{{indice+1}}.</span><span ng-bind-html="pregunta.enunciado" flex="95"></span>
    <div ng-show="pregunta.ayuda" ng-click="pregunta.mostrar_ayuda=true" class="ayuda-preg-showed"><a ng-show="!pregunta.mostrar_ayuda"><i class="fa fa-anchor"></i></a><span ng-show="pregunta.mostrar_ayuda">{{pregunta.ayuda}}</span></div>
  </md-whiteframe>
  <!--Opciones-->
  <md-list ng-if="preguntaking.tipo_pregunta=='Multiple'">
    <md-list-item ng-repeat="opcion in pregunta.opciones">
      <md-checkbox ng-model="topping.wanted"></md-checkbox>
      <p>{{ opcion.definicion }}</p>
      <md-icon ng-click="" aria-label="Chat" class="md-secondary fa fa-commenr"></md-icon>
    </md-list-item>
  </md-list>
  <!--opciones de -->
  <div layout="row" layout-wrap layout-fill ng-if="preguntaking.tipo_pregunta=='Test'" style="padding-bottom: 32px; justify-content: center;" class="opciones">
    <md-whiteframe ng-class="{'elegida':opcion.elegida}" ng-if="!opcion.nueva" flex="45" ng-click="elegirOpcion(pregunta, opcion)" ng-repeat="opcion in pregunta.opciones" class="pointer md-whiteframe-z2-btn"><span style="font-weight: bold;">{{ indexChar($index) }}.</span><span>{{ opcion.definicion }}</span></md-whiteframe>
  </div>
</div>