
<div ng-repeat="categoriaking in categorias_king">
  <md-whiteframe layout ng-repeat="categoria in categoriaking.categorias_traducidas  | porIdioma:idiomaPreg" ng-hide="categoriaking.editando" style="padding: 10px" class="md-whiteframe-z2 definicion-frame"><span flex="10">{{$parent.$index+1}}.</span><span flex="90">{{categoria.nombre}}</span>
    <div layout="row" class="btn-container-edit">
      <md-button aria-label="Editar" ng-click="editarCategoria(categoriaking)" class="md-fab md-primary md-mini">
        <md-icon class="fa fa-pencil"></md-icon>
        <md-tooltip>Editar Categorias</md-tooltip>
      </md-button>
      <md-button aria-label="Eliminar" ng-click="eliminarCategoria(categoriaking)" class="md-fab md-warn md-mini">
        <md-icon class="fa fa-trash"></md-icon>
        <md-tooltip>Eliminar Categorias</md-tooltip>
      </md-button>
    </div>
  </md-whiteframe>
  <div ng-show="categoriaking.editando" style="margin-top: 20px">
    <div class="panel panel-default panel-hovered panel-stacked mb20">
      <div class="panel-heading">Editar categoria en idiomas:
        <md-select multiple="true" placeholder="Idioma" ng-model="idiomasDiscEdit">
          <md-option ng-repeat="idioma in idiomas" value="{{idioma.id}}">{{idioma.original}}</md-option>
        </md-select>
      </div>
      <div class="panel-body">
        <form name="frm" role="form" class="form-horizontal">
          <div ng-repeat="categoria in categoriaking.categorias_traducidas | porIdiomasEdit:idiomasDiscEdit"><a md-ink-ripple class="btn-tag btn-tag-info">Categoria en {{categoria.idioma}}</a>
            <div style="padding-left: 50px; " class="row">
              <div class="col-lg-4 col-sm-5 col-xs-12">
                <div class="form-group">
                  <label>Nombre categoria:</label>
                  <input type="text" ng-model="categoria.nombre" class="form-control">
                </div>
              </div>
              <div class="col-lg-4 col-sm-5 col-xs-12">
                <div class="form-group">
                  <label>Nivel:</label>
                  <md-select placeholder="Nivel" ng-model="categoria.nivel_id">
                    <md-option ng-repeat="nivelking in niveles_king" value="{{nivelking.id}}">{{nivelking.nombre}}</md-option>
                  </md-select>
                </div>
              </div>
              <div class="col-lg-4 col-sm-5 col-xs-12">
                <div class="form-group">
                  <label>Disciplina:</label>
                  <md-select placeholder="Disciplina" ng-model="categoria.disciplina_id">
                    <md-option ng-repeat="disciplinaking in disciplinas_king" value="{{disciplinaking.id}}">{{disciplinaking.nombre}}</md-option>
                  </md-select>
                </div>
              </div>
              <div class="col-lg-2 col-sm-2 col-xs-12">
                <div class="form-group">
                  <md-checkbox ng-model="categoria.traducido" aria-label="¿Traducido?">¿Traducido?</md-checkbox>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix right">
            <md-button type="submit" ng-disabled="guardando(categoriaking)" class="md-primary">Aplicar</md-button>
            <md-button ng-click="finalizar_edicion(categoriaking)" class="md-default">Finalizar</md-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>