
md-select(placeholder="Idioma" ng-model="idiomaPreg")
	md-option(ng-repeat="idioma in idiomas" value="{{idioma.id}}") {{idioma.original}}

br
br

tabset
	tab(heading="{{'CATEGORIAS_TITLE' | translate}}")
		categorias-dir
	tab(heading="{{'NIVELES_TITLE' | translate}}")
		niveles-dir
	tab(heading="{{'DISCIPLINA_TITLE' | translate}}")
		disciplinas-dir