
<div ng-repeat="disciplinaking in disciplinas_king">
  <md-whiteframe layout ng-repeat="disciplina in disciplinaking.disciplinas_traducidas  | porIdioma:idiomaPreg" ng-hide="disciplinaking.editando" style="padding: 10px" class="md-whiteframe-z2 definicion-frame"><span flex="10">{{$parent.$index+1}}.</span><span flex="90">{{disciplina.nombre}}</span>
    <div layout="row" class="btn-container-edit">
      <md-button aria-label="Editar" ng-click="editarDisciplina(disciplinaking)" class="md-fab md-primary md-mini">
        <md-icon class="fa fa-pencil"></md-icon>
        <md-tooltip>Editar disciplina</md-tooltip>
      </md-button>
      <md-button aria-label="Eliminar" ng-click="eliminarDisciplina(disciplinaking)" class="md-fab md-warn md-mini">
        <md-icon class="fa fa-trash"></md-icon>
        <md-tooltip>Eliminar disciplina</md-tooltip>
      </md-button>
    </div>
  </md-whiteframe>
  <div ng-show="disciplinaking.editando" style="margin-top: 20px">
    <div class="panel panel-default panel-hovered panel-stacked mb20">
      <div ng-show="!eventoactual.es_idioma_unico" layout style="height: 40;" class="panel-heading"><span>Editar disciplina en idiomas:</span>
        <md-input-container layout="row" layout-aling="start center" style="padding-bottom: 0px; margin-top: -10px;">
          <md-select multiple="true" placeholder="Idioma" ng-model="disciplinaking.idiomasEdit" ng-init="disciplinaking.idiomasEdit =[eventoactual.idioma_principal_id]">
            <md-option ng-repeat="idioma in eventoactual.idiomas" value="{{idioma.id}}">{{idioma.original}}</md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="panel-body">
        <form name="frm" role="form" class="form-horizontal">
          <div ng-repeat="disciplina in disciplinaking.categorias_traducidas | porIdiomasEdit:idiomasDiscEdit"><a md-ink-ripple class="btn-tag btn-tag-info">Disciplia en {{disciplina.idioma}}</a>
            <div style="padding-left: 50px; " class="row">
              <div class="col-lg-4 col-sm-5 col-xs-12">
                <div class="form-group">
                  <label>Nombre nivel:</label>
                  <input type="text" ng-model="nivel.nombre" class="form-control">
                </div>
              </div>
              <div class="col-lg-4 col-sm-5 col-xs-12">
                <div class="form-group">
                  <label>Descripcion:</label>
                  <input type="text" ng-model="nivel.descripcion" class="form-control">
                </div>
              </div>
              <div class="col-lg-2 col-sm-2 col-xs-12">
                <div class="form-group">
                  <md-checkbox ng-model="nivel.traducido" aria-label="¿Traducido?">¿Traducido?</md-checkbox>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix right">
            <md-button ng-click="cerrar_edicion(disciplinaking)" class="md-default">Cerrar</md-button>
            <md-button type="submit" ng-disabled="guardando(disciplinaking)" class="md-primary">Aplicar</md-button>
            <md-button ng-click="finalizar_edicion(disciplinaking)" class="md-default">Finalizar</md-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<md-button type="md-button" ng-disabled="creando" ng-click="crear_disciplina()" class="md-primary">Crear disciplina</md-button>