.modal-header
	h3.modal-title ¿Seguro que desea eliminar?
.modal-body
	.row
		.col-lg-12.col-xs-12
			h4 Niveles:
			div(style="text-overflow: ellipsis") {{elemento.niveles_traducidos[0].nombre }} - {{elemento.niveles_traducidos [0].abrev}}
			h5 Id: {{elemento.id}}

.modal-footer
	button.btn.btn-labeled.btn-danger(ng-click="ok()") Eliminar
		i.btn-label.fa.fa-times
	button.btn.btn-yellow(ng-click="cancel()") Cancelar