
md-button.md-raised.md-primary(ng-click="addNewPregunta()" ng-disabled="creando" ng-if="tipo=='king'") 
	md-tooltip {{ 'TIP_BTN__NUEVA_PREGUNTA' | translate }}
	| {{ 'BTN_NUEVA_PREGUNTA' | translate }}


md-button.md-raised.md-primary(ng-click="addNewPreguntaGrupo()" ng-disabled="creando" ng-if="tipo=='grupo'") 
	md-tooltip Para crear cuadriculas o preguntas basadas en un contenido comun
	| Nuevo grupo Preguntas
