.modal-header
	h3.modal-title ¿Seguro que deseas eliminar?
.modal-body
	.row
		.col-lg-12.col-xs-12
			h4 Pregunta {{pregunta.preguntas_traducidas[0].idioma}}

			md-radio-group(ng-model="selected")
				md-radio-button(ng-repeat="evaluacion in evaluaciones " ng-value="evaluacion.id") {{evaluacion.descripcion}} {{evaluacion.id}} 


.modal-footer
	md-button.md-raised(ng-click="cancel()") Cancelar
	md-button.md-primary.md-raised(ng-click="ok()" ng-disabled="asignando || !selected") Asignar
		i.fa.fa-check