a.btn-tag.btn-tag-info(md-ink-riple)
	| Pregunta en {{preguntatraduc.idioma}}

.definicion-preg
	textarea(froala="editorOptions" ng-model="preguntatraduc.enunciado")


	div(layout layout-sm="column")
		md-input-container(flex)
			label Texto ayuda
			input(type="text" ng-model="preguntatraduc.ayuda")



	.opcionesedit(ui-sortable="sortableOptions" ng-model="preguntatraduc.opciones")

		md-input-container.input-group(flex ng-repeat="opcion in preguntatraduc.opciones | orderBy: 'orden'")
			label(ng-show="!opcion.nueva")
				i.fa.fa-sort
				| Opcion {{$index+1}}:
			input.form-control(type="text" ng-model="opcion.definicion" ng-class="{'textblue':opcion.is_correct, 'add-opcion':opcion.nueva }" ng-focus="addButtonNewOpcion(preguntatraduc, opcion)" ng-disable="opcion.creando")
			span.input-group-btn(ng-show="!opcion.nueva")

				md-button.md-icon-button.md-warn(type="button" aria-label="Quitar" ng-click="deleteOption(preguntatraduc, opcion)")
					md-icon.fa.fa-times
					md-tooltip Quitar opcion

				md-button.md-icon-button(type="button" ng-class="{ 1:'md-mini md-fab md-primary' 0:''}[opcion.is_correct]"
					aria-label="Correcta" ng-click="setAsCorrect(preguntatraduc, opcion)")

					md-icon.fa.fa-check
					md-tooltip Respuesta corrrecta