<a md-ink-riple class="btn-tag btn-tag-info">Pregunta en {{preguntatraduc.idioma}}</a>
<div class="definicion-preg">
  <textarea froala="editorOptions" ng-model="preguntatraduc.enunciado"></textarea>
  <div layout layout-sm="column">
    <md-input-container flex>
      <label>Texto ayuda</label>
      <input type="text" ng-model="preguntatraduc.ayuda">
    </md-input-container>
  </div>
  <div ui-sortable="sortableOptions" ng-model="preguntatraduc.opciones" class="opcionesedit">
    <md-input-container flex ng-repeat="opcion in preguntatraduc.opciones | orderBy: 'orden'" class="input-group">
      <label ng-show="!opcion.nueva"><i class="fa fa-sort"></i>Opcion {{$index+1}}:</label>
      <input type="text" ng-model="opcion.definicion" ng-class="{'textblue':opcion.is_correct, 'add-opcion':opcion.nueva }" ng-focus="addButtonNewOpcion(preguntatraduc, opcion)" ng-disable="opcion.creando" class="form-control"><span ng-show="!opcion.nueva" class="input-group-btn">
        <md-button type="button" aria-label="Quitar" ng-click="deleteOption(preguntatraduc, opcion)" class="md-icon-button md-warn">
          <md-icon class="fa fa-times"></md-icon>
          <md-tooltip>Quitar opcion</md-tooltip>
        </md-button>
        <md-button type="button" ng-class="{ 1:'md-mini md-fab md-primary' 0:''}[opcion.is_correct]" aria-label="Correcta" ng-click="setAsCorrect(preguntatraduc, opcion)" class="md-icon-button">
          <md-icon class="fa fa-check"></md-icon>
          <md-tooltip>Respuesta corrrecta</md-tooltip>
        </md-button></span>
    </md-input-container>
  </div>
</div>