
<div class="row">
  <div class="col-sm-12 col-md-10">
    <div class="panel panel-default panel-hovered panel-stacked mb20">
      <div layout class="panel-heading">
        <md-input-container layout="row" layout-align="start center" style="padding-bottom: 0px; margin-top: -10px;">
          <md-select placeholder="Idioma" ng-model="idiomaPreg">
            <md-option ng-repeat="idioma in idiomas" value="{{idioma.id}}">{{idioma.original}}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container layout="row" layout-align="start center" style="padding-bottom: 0px; margin-top: -10px;">
          <md-select placeholder="Categoría" ng-model="categoria" ng-change="traerPreguntasYEvaluaciones()"><span ng-repeat="catking in categorias">
              <md-option ng-repeat="cat_traduc in catking.categorias_traducidas | catsByIdioma:idiomaPreg.selected" ng-show="cat_traduc.idioma_id==idiomaPreg.selected" value="{{cat_traduc.categoria_id}}">| {{cat_traduc.nombre}}</md-option></span></md-select>
        </md-input-container>
        <md-input-container layout="row" layout-align="start center" style="padding-bottom: 0px; margin-top: -10px;">
          <md-select placeholder="Evaluaciones" ng-model="evaluacion_id" ng-change="traerPreguntasDeEvaluaciones()">
            <md-option ng-repeat="evalu in evaluacionesal" value="{{evalu.id}}">
               
              {{evalu.id}} - {{evalu.descripcion}}
            </md-option>
            <md-option value="0">Todas</md-option>
            <md-option value="sin_asignar">Sin asignar</md-option>
          </md-select>
        </md-input-container>
        <!--md-checkbox(ng-model="showDetail" style="display:inline-block") Detalles-->
        <input type="text" ng-model="preg_buscar" placeholder="{{ 'BUSCAR_PLACEHOLDER' | translate }}" class="form-control ancho-200">
      </div>
      <div ng-if="evaluacion_id!='sin_asignar'" class="panel-body">
        <div ng-repeat="pregunta_king in preguntas_king | filter:preg_buscar | pregsByCats:categoria:preguntas_evaluacion:evaluacion_id | orderBy:'orden' ">
          <div ng-show="pregunta_king.editando"><br><br></div>
          <view-pregunta ng-if="pregunta_king.tipo_pregunta" preguntaking="pregunta_king" indice="$index" idiomapreg="idiomaPreg" eventoactual="evento_actual" eventoactualselec="idiomaPreg.selected" evaluaciones="evaluaciones"></view-pregunta>
          <view-grupo ng-if="!pregunta_king.tipo_pregunta" grupoking="pregunta_king" indice="$index" idiomapreg="idiomaPreg" eventoactual="evento_actual" eventoactualselec="idiomaPreg.selected" evaluaciones="evaluaciones"></view-grupo>
        </div>
        <add-pregunta preguntasking="preguntas_king" categoria="categoria" tipo="king" ng-show="inicializado"></add-pregunta>
        <add-pregunta preguntasking="preguntas_king" categoria="categoria" tipo="grupo" ng-show="inicializado"></add-pregunta>
      </div>
      <div ng-if="evaluacion_id!='sin_asignar'" class="panel-body">
        <div ng-repeat="pregunta_king in preguntas_king | filter:preg_buscar | pregsByCats:categoria:preguntas_evaluacion:evaluacion_id | orderBy:'orden' ">
          <div ng-show="pregunta_king.editando"><br><br></div>
          <view-pregunta ng-if="pregunta_king.tipo_pregunta" preguntaking="pregunta_king" indice="$index" idiomapreg="idiomaPreg" eventoactual="evento_actual" eventoactualselec="idiomaPreg.selected" evaluaciones="evaluaciones"></view-pregunta>
          <view-grupo ng-if="!pregunta_king.tipo_pregunta" grupoking="pregunta_king" indice="$index" idiomapreg="idiomaPreg" eventoactual="evento_actual" eventoactualselec="idiomaPreg.selected" evaluaciones="evaluaciones"></view-grupo>
          <md-divider></md-divider>
        </div>
        <add-pregunta preguntasking="preguntas_king" categoria="categoria" tipo="king" ng-show="inicializado"></add-pregunta>
        <add-pregunta preguntasking="preguntas_king" categoria="categoria" tipo="grupo" ng-show="inicializado"></add-pregunta>
      </div>
    </div>
  </div>
</div>