
<div class="row">
  <div class="col-sm-12 col-md-8">
    <div class="panel panel-default panel-hovered panel-stacked mb20">
      <div class="panel-heading">  
        <md-select placeholder="Idioma" ng-model="idiomaPreg">
          <md-option ng-repeat="idioma in idiomas" value="{{idioma.id}}">{{idioma.original}}</md-option>
        </md-select>
      </div>
      <div class="panel-body">
        <div ng-repeat="pregunta_king in preguntas_king"><br><br>
          <view-pregunta preguntaking="pregunta_king" idiomapreg="idiomaPreg"></view-pregunta>
          <md-divider></md-divider>
        </div>
      </div>
    </div>
  </div>
</div>