.row
	.col-sm-12.col-md-8
		
		.panel.panel-default.panel-hovered.panel-stacked.mb20
			.panel-heading   

				md-select(placeholder="Idioma" ng-model="idiomaPreg")
					md-option(ng-repeat="idioma in idiomas" value="{{idioma.id}}") {{idioma.original}}


			.panel-body

				div(ng-repeat="pregunta_king in preguntas_king")
					br
					br
					view-pregunta(preguntaking="pregunta_king" idiomapreg="idiomaPreg")
					md-divider
				