
<div class="row">
  <div class="col-sm-12 col-md-8">
    <div class="panel panel-default panel-hovered panel-stacked mb20">
      <div class="panel-heading">
        <md-select placeholder="Idioma" ng-model="idiomaPreg">
          <md-option ng-repeat="idioma in idiomas" value="{{idioma.id}}">{{idioma.original}}</md-option>
        </md-select>
        <md-select placeholder="Categoría" ng-model="categoria"><span ng-repeat="cat in categorias">
            <md-option ng-repeat="cat_traduc in cat.categorias_traducidas | catsByIdioma:idiomaPreg" ng-show="cat_traduc.idioma_id==idiomaPreg" value="{{cat_traduc.categoria_id}}">{{cat_traduc.nombre}}</md-option></span></md-select>
        <!--md-checkbox(ng-model="showDetail" style="display:inline-block") Detalles-->
        <input type="text" ng-model="preg_buscar" placeholder="{{ 'BUSCAR_PLACEHOLDER' | translate }}" class="form-control ancho-200">
      </div>
      <div class="panel-body">
        <div ng-repeat="pregunta_king in preguntas_king | filter:preg_buscar | pregsByCats:categoria"><br><br>
          <view-pregunta preguntaking="pregunta_king" idiomapreg="idiomaPreg"></view-pregunta>
          <md-divider></md-divider>
        </div>
        <add-pregunta preguntasking="preguntas_king"></add-pregunta>
      </div>
    </div>
  </div>
</div>