
<div class="modal-header">
  <h3 class="modal-title">¿Seguro que deseas eliminar?</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-lg-12 col-xs-12">
      <h4>Pregunta: </h4><span ng-bind-html="pregunta.enunciado" flex="90"></span>
      <h5>Id: {{pregunta.id}}</h5>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button ng-click="ok()" class="btn btn-labeled btn-danger">Eliminar<i class="btn-label glyphicon glyphicon-remove"></i></button>
  <button ng-click="cancel()" class="btn btn-yellow">Cancelar</button>
</div>