
<div ng-repeat="pregunta in preguntaking.preguntas_traducidas | porIdioma:idiomapreg">
  <div ng-show="!preguntaking.editando">
    <md-whiteframe layout style="padding: 10px" class="md-whiteframe-z2 definicion-frame"><span flex="10">{{$index+1}}.</span><span ng-bind-html="pregunta.enunciado" flex="90"></span>
      <div ng-show="pregunta.ayuda &amp;&amp; preguntaking.showDetail" ng-click="toggleMostrarAyuda(pregunta)" ng-class="{'ayuda-preg-showed': pregunta.mostrar_ayuda, 'ayuda-preg-hidded':!pregunta.mostrar_ayuda}"><a ng-show="!pregunta.mostrar_ayuda"><i class="fa fa-anchor"></i></a><span ng-show="pregunta.mostrar_ayuda">{{pregunta.ayuda}}</span></div>
      <div layout="row" class="btn-container-edit">
        <!--md-button.md-default.md-raised(ng-click="editarPregunta(preguntaking)") Editar-->
        <md-button aria-label="Editar" ng-click="editarPregunta(preguntaking)" class="md-fab md-primary md-mini">
          <md-icon class="fa fa-pencil-square"></md-icon>
          <md-tooltip>Editar pregunta</md-tooltip>
        </md-button>
        <md-button aria-label="Preview" ng-click="previewPregunta(preguntaking)" class="md-icon-button md-mini">
          <md-icon class="fa fa-eye"></md-icon>
          <md-tooltip>Preview</md-tooltip>
        </md-button>
        <md-menu style="padding:0">
          <md-button aria-label="Opciones de la pregunta" ng-click="$mdOpenMenu($event)" class="md-icon-button">
            <md-icon md-menu-origin class="fa fa-align-justify"></md-icon>
          </md-button>
          <md-menu-content>
            <md-menu-item>
              <md-button ng-click="eliminarPregunta()">
                <md-icon md-menu-aling-target class="fa fa-trash"></md-icon>Eliminar Pregunta
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button disabled="disabled" ng-click="asignarExamen(pregunta)">
                <md-icon class="fa fa-trash"></md-icon>Asignar a Examen
              </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
              <md-button ng-click="asignarExamen()">
                <md-icon class="fa fa-eye"></md-icon>notificacions
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </md-whiteframe><span ng-show="preguntaking.showDetail">
      <md-list ng-if="preguntaking.tipo_pregunta=='Multiple'">
        <md-list-item ng-repeat="opcion in pregunta.opciones">
          <md-checkbox ng-model="topping.wanted"></md-checkbox>
          <p>{{ opcion.definicion }}</p>
          <md-icon ng-click="" aria-label="Chat" class="md-secondary fa fa-comment"></md-icon>
        </md-list-item>
      </md-list>
      <div layout="row" layout-wrap layout-fill ng-if="preguntaking.tipo_pregunta=='Test'" style="padding-bottom: 32px;" class="opciones">
        <md-whiteframe ng-class="{'elegida':opcion.elegida}" ng-if="!opcion.nueva" flex="40" ng-click="elegirOpcion(pregunta, opcion)" ng-repeat="opcion in pregunta.opciones" class="pointer md-whiteframe-z2 btn"> <span style="font-weight: bold;">{{ indexChar($index) }}. </span><span>{{ opcion.definicion }}</span></md-whiteframe>
      </div></span>
  </div>
  <edit-pregunta preguntaking="preguntaking" ng-show="preguntaking.editando"></edit-pregunta>
</div>