div(ng-repeat="pregunta in preguntaking.preguntas_traducidas | porIdioma:idiomapreg")
	div(ng-show="!preguntaking.editando")
		md-whiteframe.md-whiteframe-z2(layout style="padding: 10px")
			span(flex="10") {{$index+1}}.
			span(ng-bind-html="pregunta.enunciado" flex="90")
		div(ng-show="pregunta.ayuda")

			blockquote.blockquote-reverse
				footer
					| {{pregunta.ayuda}}

		md-list(ng-if="preguntaking.tipo_pregunta=='Multiple'")
			md-list-item(ng-repeat="opcion in pregunta.opciones")
				md-checkbox(ng-model="topping.wanted")
				p {{ opcion.definicion }}
				md-icon.md-secondary.fa.fa-comment(ng-click="" aria-label="Chat")
		

		div.opciones(layout="row" layout-wrap layout-fill ng-if="preguntaking.tipo_pregunta=='Test'" style="padding-bottom: 32px;")
			md-whiteframe.pointer.md-whiteframe-z2.btn(ng-class="{'elegida':opcion.elegida}" ng-if="!opcion.nueva" flex="40" ng-click="elegirOpcion(pregunta, opcion)" ng-repeat="opcion in pregunta.opciones") 
				span(style="font-weight: bold;") {{ indexChar($index) }}. 
				span {{ opcion.definicion }}
		md-button.md-default.md-raised(ng-click="editarPregunta(preguntaking)") Editar

	edit-pregunta(preguntaking="preguntaking" ng-show="preguntaking.editando")