
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default panel-hovered panel-stacked mb20">
      <div class="panel-heading">{{'ENTIDADES_MENU' | translate}}</div>
      <div class="panel-body">
        <md-button ng-show="!creando" ng-click="crearNuevo()" class="md-primary">Crear nuevo</md-button>
        <div layout layout-wrap layout-padding>
          <div flex-gt-md="60" flex-md="100">
            <div id="grid1" ui-grid="gridOptions" ui-grid-edit ui-grid-resize-columns style="min-height: 400px" class="grid"></div>
          </div>
          <!-- Formulario para crear-->
          <div flex-gt-md="40" flex-md="100" ng-show="creando">
            <form layout="column" ng-submit="" layout-margin layout-wrap layout-padding>
              <div flex>
                <label>Nombre:</label>
                <input type="text" ng-model="newEntidad.nombre" class="form-control">
              </div>
              <div flex="40" flex-gt-lg="20" flex-sm="100">
                <md-checkbox ng-model="seleccionar_lider" aria-label="¿Traducido?">Seleccionar lider</md-checkbox>
              </div>
              <div flex ng-show="!seleccionar_lider">
                <md-select placeholder="Seleccione Lider" ng-model="newEntidad.lider_id">
                  <md-option ng-repeat="usuario in usuarios" value="{{usuario.id}}">{{usuario.nombres}} {{usuario.apellidos}}</md-option>
                </md-select>
              </div>
              <div flex ng-show="!seleccionar_lider">
                <input placeholder="Escriba Nombre del Lider" type="text" ng-model="newEntidad.lider_nombre" class="form-control">
              </div>
              <div flex>
                <div class="form-group">
                  <label>Logo</label>
                  <ui-select ng-model="newEntidad.imgUsuario" theme="select2" on-select="imagenSelect($item, $model)">
                    <ui-select-match placeholder="Logo de Entidad"><img ng-src="{{ $select.selected.public?imgSystemPath:perfilPath }}{{ $select.selected.nombre}}" style="width:25px; height:25px;"><small ng-bind-html="' ' + $select.selected.nombre"></small></ui-select-match>
                    <ui-select-choices repeat="imagen in imagenes | filter: {nombre: $select.search}"><img ng-src="{{ imagen.public?imgSystemPath:perfilPath }}{{ imagen.nombre }}" style="width:25px; height:25px;"><small ng-bind-html="' ' + imagen.nombre | highligth: $select.search"></small></ui-select-choices>
                  </ui-select>
                </div>
              </div>
              <div flex>
                <input placeholder="Telefono" type="text" ng-model="newEntidad.telefono" class="form-control">
              </div>
              <div flex>
                <input placeholder="Alias" type="text" ng-model="newEntidad.alias" class="form-control">
              </div>
              <div class="clearfix right">
                <md-button type="submit" ng-disabled="guardando" class="md-primary">Guardar</md-button>
                <md-button ng-click="cancelarNuevo()" class="md-default">Cancelar</md-button>
              </div>
            </form>
          </div>
          <!-- Formulario para editar-->
          <div flex-gt-md="40" flex-md="100" ng-show="creando">
            <form layout="column" ng-submit="" layout-margin layout-wrap layout-padding>
              <div flex>
                <label>Nombre:</label>
                <input type="text" ng-model="currentEntidad.nombre" class="form-control">
              </div>
              <div flex="40" flex-gt-lg="20" flex-sm="100">
                <md-checkbox ng-model="seleccionar_lider" aria-label="¿Traducido?">Seleccionar lider</md-checkbox>
              </div>
              <div flex ng-show="!seleccionar_lider">
                <md-select placeholder="Seleccione Lider" ng-model="currentEntidad.lider_id">
                  <md-option ng-repeat="usuario in usuarios" value="{{usuario.id}}">{{usuario.nombres}} {{usuario.apellidos}}</md-option>
                </md-select>
              </div>
              <div flex ng-show="!seleccionar_lider">
                <input placeholder="Escriba Nombre del Lider" type="text" ng-model="currentEntidad.lider_nombre" class="form-control">
              </div>
              <div flex>
                <div class="form-group">
                  <label>Logo</label>
                  <ui-select ng-model="currentEntidad.imgUsuario" theme="select2" on-select="imagenSelect($item, $model)">
                    <ui-select-match placeholder="Logo de Entidad"><img ng-src="{{ $select.selected.public?imgSystemPath:perfilPath }}{{ $select.selected.nombre}}" style="width:25px; height:25px;"><small ng-bind-html="' ' + $select.selected.nombre"></small></ui-select-match>
                    <ui-select-choices repeat="imagen in imagenes | filter: {nombre: $select.search}"><img ng-src="{{ imagen.public?imgSystemPath:perfilPath }}{{ imagen.nombre }}" style="width:25px; height:25px;"><small ng-bind-html="' ' + imagen.nombre | highligth: $select.search"></small></ui-select-choices>
                  </ui-select>
                </div>
              </div>
              <div flex>
                <input placeholder="Telefono" type="text" ng-model="currentEntidad.telefono" class="form-control">
              </div>
              <div flex>
                <input placeholder="Alias" type="text" ng-model="currentEntidad.alias" class="form-control">
              </div>
              <div class="clearfix right">
                <md-button type="submit" ng-disabled="guardando" class="md-primary">Guardar</md-button>
                <md-button ng-click="cancelarEdit()" class="md-default">Cancelar</md-button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>