.row
	.col-sm-12

		.panel.panel-default.panel-hovered.panel-stacked.mb20
			.panel-heading
				| {{'ENTIDADES_MENU' | translate}}

			.panel-body

				md-button.md-primary(ng-show="!creando" ng-click="crearNuevo()") Crear nuevo

				div(layout layout-wrap layout-padding)

					div(flex-gt-md="60" flex-md="100")
						#grid1.grid(ui-grid="gridOptions" ui-grid-edit ui-grid-resize-columns style="min-height: 400px")



					// Formulario para crear
					div(flex-gt-md="40" flex-md="100" ng-show="creando")

						form(layout="column" ng-submit="" layout-margin layout-wrap layout-padding)
							div(flex)
								label Nombre:
								input.form-control(type="text" ng-model="newEntidad.nombre")

							div(flex="40" flex-gt-lg="20" flex-sm="100")
								md-checkbox(ng-model="seleccionar_lider" aria-label="¿Traducido?")
									| Seleccionar lider
							div(flex ng-show="!seleccionar_lider")
								md-select(placeholder="Seleccione Lider" ng-model="newEntidad.lider_id")
									md-option(ng-repeat="usuario in usuarios" value="{{usuario.id}}") {{usuario.nombres}} {{usuario.apellidos}}
							div(flex ng-show="!seleccionar_lider")
								input.form-control(placeholder="Escriba Nombre del Lider" type="text" ng-model="newEntidad.lider_nombre")

							div(flex)
								.form-group
									label Logo
									ui-select(ng-model="newEntidad.imgUsuario" theme="select2" on-select="imagenSelect($item, $model)" )
										ui-select-match(placeholder="Logo de Entidad")
											img(ng-src="{{ $select.selected.public?imgSystemPath:perfilPath }}{{ $select.selected.nombre}}" style="width:25px; height:25px;")
											small(ng-bind-html="' ' + $select.selected.nombre")
										ui-select-choices(repeat="imagen in imagenes | filter: {nombre: $select.search}")
											img(ng-src="{{ imagen.public?imgSystemPath:perfilPath }}{{ imagen.nombre }}" style="width:25px; height:25px;")
											small(ng-bind-html="' ' + imagen.nombre | highligth: $select.search")
							div(flex)
								input.form-control(placeholder="Telefono" type="text" ng-model="newEntidad.telefono")

							div(flex)
								input.form-control(placeholder="Alias" type="text" ng-model="newEntidad.alias")

							.clearfix.right
								md-button.md-primary(type="submit" ng-disabled="guardando") Guardar
								md-button.md-default(ng-click="cancelarNuevo()") Cancelar



					// Formulario para editar
					div(flex-gt-md="40" flex-md="100" ng-show="creando")

						form(layout="column" ng-submit="" layout-margin layout-wrap layout-padding)
							div(flex)
								label Nombre:
								input.form-control(type="text" ng-model="currentEntidad.nombre")

							div(flex="40" flex-gt-lg="20" flex-sm="100")
								md-checkbox(ng-model="seleccionar_lider" aria-label="¿Traducido?")
									| Seleccionar lider
							div(flex ng-show="!seleccionar_lider")
								md-select(placeholder="Seleccione Lider" ng-model="currentEntidad.lider_id")
									md-option(ng-repeat="usuario in usuarios" value="{{usuario.id}}") {{usuario.nombres}} {{usuario.apellidos}}
							div(flex ng-show="!seleccionar_lider")
								input.form-control(placeholder="Escriba Nombre del Lider" type="text" ng-model="currentEntidad.lider_nombre")

							div(flex)
								.form-group
									label Logo
									ui-select(ng-model="currentEntidad.imgUsuario" theme="select2" on-select="imagenSelect($item, $model)" )
										ui-select-match(placeholder="Logo de Entidad")
											img(ng-src="{{ $select.selected.public?imgSystemPath:perfilPath }}{{ $select.selected.nombre}}" style="width:25px; height:25px;")
											small(ng-bind-html="' ' + $select.selected.nombre")
										ui-select-choices(repeat="imagen in imagenes | filter: {nombre: $select.search}")
											img(ng-src="{{ imagen.public?imgSystemPath:perfilPath }}{{ imagen.nombre }}" style="width:25px; height:25px;")
											small(ng-bind-html="' ' + imagen.nombre | highligth: $select.search")
							div(flex)
								input.form-control(placeholder="Telefono" type="text" ng-model="currentEntidad.telefono")

							div(flex)
								input.form-control(placeholder="Alias" type="text" ng-model="currentEntidad.alias")

							.clearfix.right
								md-button.md-primary(type="submit" ng-disabled="guardando") Guardar
								md-button.md-default(ng-click="cancelarEdit()") Cancelar