
<ul class="list-unstyled left-elems">
  <!-- nav trigger/collapse-->
  <li><a href="" ng-click="toggleNav()" class="nav-trigger ion ion-drag"></a></li>
  <!--  Search box -->
  <li>
    <div class="form-search hidden-xs">
      <form id="site-search" action="na">
        <input type="search" placeholder="Type here for search..." class="form-control">
        <button type="submit" class="ion ion-ios-search-strong"></button>
      </form>
    </div>
  </li>
  <!-- site-logo for mobile nav-->
  <li>
    <div class="site-logo visible-xs"><a href="#/dashboard" class="text-uppercase h3"><span class="text">Materia</span></a></div>
  </li>
  <!-- fullscreen-->
  <li ng-click="goFullScreen()" class="fullscreen hidden-xs"><a href=""><i class="ion ion-qr-scanner"></i></a></li>
  <!-- notification drop-->
  <li dropdown="" class="notify-drop hidden-xs dropdown"><a href="" dropdown-toggle=""><i class="ion ion-speakerphone"></i><span class="badge badge-danger badge-xs circle">3</span></a>
    <div custom-scrollbar="" class="panel panel-default dropdown-menu">
      <div class="panel-heading">You have 3 new notifications <a href="javascript:;" class="right btn btn-xs btn-pink mt-3">Show All</a></div>
      <div class="panel-body">
        <ul class="list-unstyled">
          <li class="clearfix"><a href=""><span class="ion ion-archive left bg-success"></span>
              <div class="desc"><strong>App downloaded</strong>
                <p class="small text-muted">1 min ago</p>
              </div></a></li>
        </ul>
      </div>
    </div>
  </li>
</ul>