ul.list-unstyled.left-elems
	// nav trigger/collapse
	li
		a.nav-trigger.fa.fa-bars(href="" ng-click="toggleNav()")

	//  Search box 
	li
		.form-search.hidden-xs
			form#site-search(action="na")
				input.form-control(type="search" placeholder="Type here for search...")
				button.fa.fa-searchf(type="submit")


	// site-logo for mobile nav
	li
		.site-logo.visible-xs
			a.text-uppercase.h3(href="#/dashboard")
				span.text Materia

	// fullscreen
	li.fullscreen.hidden-xs(ng-click="goFullScreen()")
		a(href="")
			i.fa.fa-arrows-alt

	// notification drop
	li.notify-drop.hidden-xs.dropdown(dropdown="")
		a(href="" dropdown-toggle="")
			i.fa.fa-exclamation-triangle
			span.badge.badge-danger.badge-xs.circle 3
		
		.panel.panel-default.dropdown-menu(custom-scrollbar="")
			.panel-heading You have 3 new notifications 
				a.right.btn.btn-xs.btn-pink.mt-3(href="javascript:;") Show All
			.panel-body
				ul.list-unstyled
					li.clearfix
						a(href="")
							span.fa.fa-archive.left.bg-success
							.desc
								strong App downloaded
								p.small.text-muted 1 min ago


	// Idiomas
	li.notify-drop.hidden-xs.dropdown(dropdown="")
		a(href="" dropdown-toggle="")
			i.fa.fa-flag-checkered
			{{ 'IDIOMA_MENU' | translate }}
		
		.panel.panel-default.dropdown-menu(custom-scrollbar="")
			.panel-heading {{'IDIOMA_MENU' | translate }}
			.panel-body
				ul.list-unstyled
					li.clearfix(ng-repeat="idioma in idiomas")
						a(href="" ng-click="cambiarIdioma(idioma.abrev)")
							span.fa.fa-flag.left.bg-success
							.desc
								strong {{idioma.nombre}}


ul.list-unstyled.right-elems.ng-scope
	li.profile-drop.hidden-xs.dropdown(dropdown='')
		a(href='', dropdown-toggle='', aria-haspopup='true', aria-expanded='false')
			img(src='images/perfil/pruebaadmin.jpg', alt='admin-pic')
		ul.dropdown-menu.dropdown-menu-right
			li
				a(href='javascript:;')
					span.ion.ion-person
					| Profile
			li
				a(href='javascript:;')
					span.ion.ion-settings 
					| Settings
			li.divider
			li
				a(href='javascript:;')
					span.ion.ion-lock-combination
					| Lock Screen
			li
				a(href='javascript:;')
					span.ion.ion-power
					| Logout



	//li.floating-sidebar(ng-class="{'open': floatingSidebar}")
	li.floating-sidebar(ng-class="{'open': floatingSidebar}")
		a(href="" ng-click='toggleFloatingSidebar()')
			i.fa.fa-th
		.sidebar-wrap.ps-container.ps-active-y(custom-scrollbar='')
			
			tabset(justified="true")
				tab(heading="CHAT")
					.chat-tab.clearfix
						h5.title.mt0.mb30 Online
						.user-container.mb15
							img(src='images/perfil/pruebaadmin.jpg', alt='')
							.desc
								p.mb0 John Wick
								p.xsmall
									span.ion.ion-location
									| San Franciso, USA
							span.ion.ion-record.avail.right.on
						.user-container.mb15
							img(src='images/perfil/pruebaadmin.jpg', alt='')
							.desc
								p.mb0 John Wick
								p.xsmall
									span.ion.ion-location
									| California, USA
							span.ion.ion-record.avail.right.away

				tab(heading="INFO")
					.info-tab.clearfix
						h5.title.mt0.mb30 Work in Progress
						ul.list-unstyled.mb15.clearfix
							li
								.clearfix.mb10
									small.left App Upload
									small.right 80%
								.progress-xs.progress.ng-isolate-scope(value='80', type='primary')
									.progress-bar.progress-bar-primary(ng-class="type && 'progress-bar-' + type", role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', ng-style="{width: percent + '%'}" aria-valuetext='80%' style='width: 80%;')

						h5.title.mt0.mb30 Settings

						.clearfix.mb15
							.left
								p Show me online
							.right
								.ui-toggle.ui-toggle-success.ui-toggle-xs
									label
										input(type='checkbox', checked='')
										span

						.clearfix.mb15
							.left
								p Notifications

							.right
								.ui-toggle.ui-toggle-success.ui-toggle-xs
									label
										input(type='checkbox')
										span


