
<ul class="list-unstyled left-elems">
  <!-- nav trigger/collapse-->
  <li><a href="" ng-click="toggleNav()" class="nav-trigger fa fa-bars"></a></li>
  <!--  Search box -->
  <li>
    <div class="form-search hidden-xs">
      <form id="site-search" action="na">
        <input type="search" placeholder="Type here for search..." class="form-control">
        <button type="submit" class="fa fa-searchf"></button>
      </form>
    </div>
  </li>
  <!-- site-logo for mobile nav-->
  <li>
    <div class="site-logo visible-xs"><a href="#/dashboard" class="text-uppercase h3"><span class="text">Materia</span></a></div>
  </li>
  <!-- fullscreen-->
  <li ng-click="goFullScreen()" class="fullscreen hidden-xs"><a href=""><i class="fa fa-arrows-alt"></i></a></li>
  <!-- notification drop-->
  <li dropdown="" class="notify-drop hidden-xs dropdown"><a href="" dropdown-toggle=""><i class="fa fa-exclamation-triangle"></i><span class="badge badge-danger badge-xs circle">3</span></a>
    <div custom-scrollbar="" class="panel panel-default dropdown-menu">
      <div class="panel-heading">You have 3 new notifications <a href="javascript:;" class="right btn btn-xs btn-pink mt-3">Show All</a></div>
      <div class="panel-body">
        <ul class="list-unstyled">
          <li class="clearfix"><a href=""><span class="fa fa-archive left bg-success"></span>
              <div class="desc"><strong>App downloaded</strong>
                <p class="small text-muted">1 min ago</p>
              </div></a></li>
        </ul>
      </div>
    </div>
  </li>
  <!-- Idiomas-->
  <li dropdown="" class="notify-drop hidden-xs dropdown"><a href="" dropdown-toggle=""><i class="fa fa-flag-checkered"></i>{{ 'IDIOMA_MENU' | translate }}</a>
    <div custom-scrollbar="" class="panel panel-default dropdown-menu">
      <div class="panel-heading">{{'IDIOMA_MENU' | translate }}</div>
      <div class="panel-body">
        <ul class="list-unstyled">
          <li ng-repeat="idioma in idiomas" class="clearfix"><a href="" ng-click="cambiarIdioma(idioma.abrev)"><span class="fa fa-flag left bg-success"></span>
              <div class="desc"><strong>{{idioma.nombre}}</strong></div></a></li>
        </ul>
      </div>
    </div>
  </li>
</ul>
<ul class="list-unstyled right-elems ng-scope">
  <li dropdown="" class="profile-drop hidden-xs dropdown"><a href="" dropdown-toggle="" aria-haspopup="true" aria-expanded="false"><img src="images/perfil/pruebaadmin.jpg" alt="admin-pic"></a>
    <ul class="dropdown-menu dropdown-menu-right">
      <li><a href="javascript:;"><span class="ion ion-person"></span>Profile</a></li>
      <li><a href="javascript:;"><span class="ion ion-settings"> </span>Settings</a></li>
      <li class="divider"></li>
      <li><a href="javascript:;"><span class="ion ion-lock-combination"></span>Lock Screen</a></li>
      <li><a href="javascript:;"><span class="ion ion-power"></span>Logout</a></li>
    </ul>
  </li>
  <!--li.floating-sidebar(ng-class="{'open': floatingSidebar}")-->
  <li ng-class="{'open': floatingSidebar}" class="floating-sidebar"><a href="" ng-click="toggleFloatingSidebar()"><i class="fa fa-th"></i></a>
    <div custom-scrollbar="" class="sidebar-wrap ps-container ps-active-y">
      <tabset justified="true">
        <tab heading="CHAT">
          <div class="chat-tab clearfix">
            <h5 class="title mt0 mb30">Online</h5>
            <div class="user-container mb15"><img src="images/perfil/pruebaadmin.jpg" alt="">
              <div class="desc">
                <p class="mb0">John Wick</p>
                <p class="xsmall"><span class="ion ion-location"></span>San Franciso, USA</p>
              </div><span class="ion ion-record avail right on"></span>
            </div>
            <div class="user-container mb15"><img src="images/perfil/pruebaadmin.jpg" alt="">
              <div class="desc">
                <p class="mb0">John Wick</p>
                <p class="xsmall"><span class="ion ion-location"></span>California, USA</p>
              </div><span class="ion ion-record avail right away"></span>
            </div>
          </div>
        </tab>
        <tab heading="INFO">
          <div class="info-tab clearfix">
            <h5 class="title mt0 mb30">Work in Progress</h5>
            <ul class="list-unstyled mb15 clearfix">
              <li>
                <div class="clearfix mb10"><small class="left">App Upload</small><small class="right">80%</small></div>
                <div value="80" type="primary" class="progress-xs progress ng-isolate-scope">
                  <div ng-class="type &amp;&amp; 'progress-bar-' + type" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" ng-style="{width: percent + '%'}" aria-valuetext="80%" style="width: 80%;" class="progress-bar progress-bar-primary"></div>
                </div>
              </li>
            </ul>
            <h5 class="title mt0 mb30">Settings</h5>
            <div class="clearfix mb15">
              <div class="left">
                <p>Show me online</p>
              </div>
              <div class="right">
                <div class="ui-toggle ui-toggle-success ui-toggle-xs">
                  <label>
                    <input type="checkbox" checked=""><span></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="clearfix mb15">
              <div class="left">
                <p>Notifications</p>
              </div>
              <div class="right">
                <div class="ui-toggle ui-toggle-success ui-toggle-xs">
                  <label>
                    <input type="checkbox"><span></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </li>
</ul>