
<div class="nav-head">
  <!-- site logo--><a href="materiales/Materia.html" class="site-logo text-uppercase"><i class="fa fa-globe"></i><span class="text">Materia</span></a>
</div>
<!-- Site nav (vertical) -->
<nav role="navigation" class="site-nav clearfix">
  <div class="profile clearfix mb15"><img src="images/perfil/pruebaadmin.jpg" alt="admin">
    <div class="group">
      <h5 class="name">Robert Smith</h5><small class="desig text-uppercase">UX Designer</small>
    </div>
  </div>
  <!-- navigation-->
  <ul highlight-active="" class="list-unstyled clearfix nav-list mb15">
    <li ng-class="{active: $state.is('panel') }"><a href="" ui-sref="panel" md-ink-ripple=""><i class="fa fa-home"></i><span class="text">{{ 'INICIO_MENU' | translate }}</span></a></li>
    <li ui-sref-active="active"><a href="" ui-sref="panel.eventos" md-ink-ripple=""><i class="fa fa-laptop"></i><span class="text">{{ 'EVENTS_MENU' | translate }}</span></a></li>
    <li ui-sref-active="active"><a href="" ui-sref="panel.categorias" md-ink-ripple=""><i class="fa fa-map-marker"></i><span class="text">{{ 'CATEGORIAS_MENU' | translate }}</span></a></li>
    <li ui-sref-active="active"><a href="" ui-sref="panel.usuarios" md-ink-ripple=""><i class="fa fa-users"></i><span class="text">{{ 'USERS_MENU' | translate }}</span></a></li>
    <li ui-sref-active="active"><a href="" ui-sref="panel.preguntas" md-ink-ripple=""><i class="fa fa-clipboard"></i><span class="text">{{ 'PREGUNTAS_MENU' | translate }}</span></a></li>
    <li ui-sref-active="active"><a href="" md-ink-ripple=""><i class="fa fa-asterisk"></i><span class="text">{{ 'CONSTRUCCION_MENU' | translate }}</span><i class="arrow fa fa-angle-left"></i><span class="badge badge-xs badge-primary">2</span></a>
      <ul class="inner-drop nested list-unstyled">
        <li> <a href="" md-ink-ripple="">Font Awesome</a></li>
        <li> <a href="" md-ink-ripple="">Ionicons</a></li>
      </ul>
    </li>
  </ul>
</nav><!-- nav-foot -->
<footer class="nav-foot">
  <p>2015 © <span>Wissen</span></p>
</footer>