.nav-head
	// site logo
	a.site-logo.text-uppercase(href="materiales/Materia.html")
		i.fa.fa-globe
		span.text Materia

// Site nav (vertical) 
nav.site-nav.clearfix(role="navigation")
	.profile.clearfix.mb15
		img(src="images/perfil/pruebaadmin.jpg" alt="admin")
		div.group
			h5.name Robert Smith
			small.desig.text-uppercase UX Designer

	// navigation
	ul.list-unstyled.clearfix.nav-list.mb15(highlight-active="")
		li(ng-class="{active: $state.is('panel') }")
			a(href="" ui-sref="panel" md-ink-ripple="")
				i.fa.fa-home
				span.text {{ 'INICIO_MENU' | translate }}

		li(ui-sref-active="active")
			a(href="" ui-sref="panel.eventos" md-ink-ripple="")
				i.fa.fa-laptop
				span.text {{ 'EVENTS_MENU' | translate }}

		li(ui-sref-active="active")
			a(href="" ui-sref="panel.categorias" md-ink-ripple="")
				i.fa.fa-map-marker
				span.text {{ 'CATEGORIAS_MENU' | translate }}

		li(ui-sref-active="active")
			a(href="" ui-sref="panel.usuarios" md-ink-ripple="")
				i.fa.fa-users
				span.text {{ 'USERS_MENU' | translate }}

		li(ui-sref-active="active")
			a(href="" ui-sref="panel.preguntas" md-ink-ripple="")
				i.fa.fa-clipboard
				span.text {{ 'PREGUNTAS_MENU' | translate }}

		li(ui-sref-active="active")
			a(href="" md-ink-ripple="")
				i.fa.fa-asterisk
				span.text {{ 'CONSTRUCCION_MENU' | translate }}
				i.arrow.fa.fa-angle-left
				span.badge.badge-xs.badge-primary 2

			ul.inner-drop.nested.list-unstyled
				li 
					a(href="" md-ink-ripple="") Font Awesome
				li 
					a(href="" md-ink-ripple="") Ionicons

		


<!-- nav-foot -->
footer.nav-foot
	p 2015 © 
		span Wissen