.nav-head
	// site logo
	a.site-logo.text-uppercase(href="materiales/Materia.html")
		i.ion.ion-disc
		span.text Materia

// Site nav (vertical) 
nav.site-nav.clearfix(role="navigation")
	.profile.clearfix.mb15
		img(src="images/perfil/pruebaadmin.jpg" alt="admin")
		div.group
			h5.name Robert Smith
			small.desig.text-uppercase UX Designer

	// navigation
	ul.list-unstyled.clearfix.nav-list.mb15(highlight-active="")
		li(ng-class="{active: $state.is('panel') }")
			a(href="" ui-sref="panel" md-ink-ripple="")
				i.ion.ion-monitor
				span.text Inicio

		li(ui-sref-active="active")
			a(href="" ui-sref="panel.preguntas")
				i.ion.ion-clipboard
				span.text Preguntas


		li(ui-sref-active="active")
			a(href="" md-ink-ripple="")
				i.ion.ion-asterisk
				span.text Construcción
				i.arrow.ion-chevron-left
				span.badge.badge-xs.badge-primary 2

			ul.inner-drop.nested.list-unstyled
				li 
					a(href="" md-ink-ripple="") Font Awesome
				li 
					a(href="" md-ink-ripple="") Ionicons

		


<!-- nav-foot -->
footer.nav-foot
	p 2015 © 
		span Wissen