header.site-head.fixedHeader#site-head(ng-class="{'fixedHeader': fixedHeader}" ng-include=" 'views/panel/header.tpl.html' ")





//main.container
.main-container.clearfix.nav-expand(ng-class="{'nav-expand': navFull, 'nav-horizontal': navHorizontal}")

	aside.nav-wrap.ps-container.nav-expand.ps-active-y#site-nav(ng-class="{'nav-expand' : navFull, 'nav-offcanvas' : navOffCanvas}"
		custom-scrollbar="" ng-include=" 'views/panel/nav.tpl.html' ")
		.nav-head

	div.content-container.fisedHeader(ng-class="{'nav-expand': navFull, 'fixedHeader': fixedHeader}" id="content")
		.page.page-dashboard

			.page-wrap(iu-view="contenido_panel")

				iniciar-dir(eventoactual="evento_actual" user="USER")



	<!-- settings -->
	.site-settings.clearfix.hidden-xs(ng-class="{'open': isSettingsOpen}")
		.settings.clearfix
			.trigger.ion.ion-settings.left(ng-click="toggleSettingsBox()" role="button" tabindex="0")
			.wrapper.left
				ul.list-unstyled.other-settings
					li.clearfix.mb10
						.left.small Nav Horizontal
						md-switch.right.md-default-theme(aria-label="Mensajito" ng-model="navHorizontal" style="margin: 0" ng-change="onNavHorizontal()" role="checkbox")
							.md-container
								.md-bar
								.md-thumb-container 
								.md-thumb(md-ink-ripple="" md-ink-ripple-checkbox="")
							.md-label
				hr
				ul.themes.list-unstyled
					li(ng-class="{active: theme-zero}" ng-model="themeModel" btn-radio="'theme-zero'" ng-change="onThemeChange(themeModel)" tabindex="0" aria-invalid="false")
