header.site-head.fixedHeader#site-head(ng-class="{'fixedHeader': fixedHeader}" ng-include=" 'views/panel/header.tpl.html' ")
	ul.list-unstyled.left-elems
		// nav trigger/collapse 
		li
			a.nav-trigger.ion.ion-drag(href="" ng-click="toggleNav()" tabindex="0")
			// <md-switch class="nav-trigger" ng-model="navHorizontal" style="margin: 0" ng-change="toggleNav()"> 

		<!-- Search box -->
		li
			.form-search.hidden-xs
				form#site-search.ng-pristine.ng-valid(action="http://solutionportal.net/projects/materia/angular/#na")
					input.form-control(type="search" placeholder="Type here for search...")
					button.ion.ion-ios-search-strong(type="submit")

		<!-- site-logo for mobile nav -->
		li
			.site-logo.visible-xs
				a(href="materiales/Materia - Material Design Admin Template.html" class="text-uppercase h3")
					span.text Materia

		<!-- fullscreen -->
		li.fullscreen.hidden-xs(ng-click="goFullScreen()" role="button" tabindex="0")
			a(href="")
				i.ion.ion-qr-scanner

		<!-- notification drop -->
		li.notify-drop.hidden-xs.dropdown(dropdown="")
			a(href="" dropdown-toggle="" aria-haspopup="true" aria-expanded="false")
				i.ion.ion-speakerphone
				span.badge.badge-danger.badge-xs.circle 3

			
			.panel.panel-default.dropdown-menu.ps-container(custom-scrollbar="")
				.panel-heading You have 3 new notifications 
					a.right.btn.btn-xs.btn-pink.mt-3(href="javascript:;") Show All
				.panel-body
					ul.list-unstyled
						li.clearfix
							a(href="")
								span.ion.ion-archive.left.bg-success
								.desc App downloaded
									p.small.text-muted 1 min ago
			.ps-scrollbar-x-rail(style="left: 0px; bottom: 3px;")
			.ps-scrollbar-x(style="left: 0px; width: 0px;")
			.ps-scrollbar-y-rail(style="top: 0px; right: 0px;")
			.ps-scrollbar-y(style="top: 0px; height: 0px;")


	ul.list-unstyled.right-elems
		// profile drop
		li.profile-drop.hidden-xs.dropdown(dropdown="")
			a(href="" dropdown-toggle="" aria-haspopup="true" aria-expanded="false")
				img(src="images/perfil/pruebaadmin.jpg" alt="admin-pic")
			ul.dropdown-menu.dropdown-menu-right
				li
					a(href="javascript:;")
						span.ion.ion-person  Profile
				li
					a(href="javascript:;")
						span.ion.ion-settings  Settings
				li.divider
				li
					a(href="javascript:;")
						span.ion.ion-lock-combination  Lock Screen
				li
					a(href="javascript:;")
						span.ion.ion-power  Logout



// main-container
.main-container.clearfix.nav-expand(ng-class="{'nav-expand': navFull, 'nav-horizontal': navHorizontal}")

	aside.nav-wrap.ps-container.nav-expand.ps-active-y#site-nav(ng-class="{'nav-expand': navFull, 'nav-offcanvas': navOffCanvas}" 
		custom-scrollbar="" ng-include=" 'views/panel/nav.tpl.html' ")
		.nav-head

	div.content-container.nav-expand.fixedHeader(ng-class="{'nav-expand': navFull, 'fixedHeader': fixedHeader}" id="content")
		.page.page-dashboard

			.page-wrap(ui-view="contenido_panel")

				.row
					// dashboard header
					.col-md-12
						.dash-head.clearfix.mt15.mb20
							.left
								h4.mb5.text-light Bienvenido a las Olimpiadas
								p.small
								strong Libertad 
								| 2015


	<!-- settings -->
	.site-settings.clearfix.hidden-xs(ng-class="{'open': isSettingsOpen}")
		.settings.clearfix
			.trigger.ion.ion-settings.left(ng-click="toggleSettingsBox()" role="button" tabindex="0")
			.wrapper.left
				ul.list-unstyled.other-settings
					li.clearfix.mb10
						.left.small Nav Horizontal
						md-switch.right.md-default-theme(aria-label="Mensajito" ng-model="navHorizontal" style="margin: 0" ng-change="onNavHorizontal()" role="checkbox")
							.md-container
								.md-bar
								.md-thumb-container 
								.md-thumb(md-ink-ripple="" md-ink-ripple-checkbox="")
							.md-label
				hr
				ul.themes.list-unstyled
					li(ng-class="{active: theme-zero}" ng-model="themeModel" btn-radio="'theme-zero'" ng-change="onThemeChange(themeModel)" tabindex="0" aria-invalid="false")


